@import "carousel";

body {
    background-color: lightcyan;
}
.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    font-size: 1.3rem;
    padding: 0 60px;
    text-align: justify;
    color: white;
    display: flex;
    align-items: center;
}
.header {
    text-align: center;
    &__title {
        font-size: 3rem;
        margin: 0;
        padding: 50px;
    }
}